<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.scar"
          name="Cemrg Scar Quantification"
          class="AtrialScarView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.scarclipper"
          name="Cemrg Scar Quantification Clippers"
          class="AtrialScarClipperView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.scaryzseg"
          name="Cemrg Ventricular Scar Quantification"
          class="YZSegView"
          icon="resources/icon.xpm" />
  </extension>
  
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.scarcalculations"
          name="Cemrg Scar Calculations"
          class="ScarCalculationsView"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
