<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension point="org.blueberry.ui.views">
      <view id="org.mitk.views.wathcaview"
          name="Cemrg Morphological Measurements"
          class="WallThicknessCalculationsView"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.wathcaclipperview"
          name="Cemrg Morphological Measurements Clippers"
          class="WallThicknessCalculationsClipperView"
          icon="resources/icon.xpm" />
  </extension>

</plugin>
