<?xml version="1.0" encoding="UTF-8"?>
<plugin>

  <extension id="kcl.cemrgapp.mainapp" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkCemrgApplication"/>
    </application>
    <view id="org.mitk.views.cemrgapplication"
          name="Cemrg Application"
          class="QmitkCemrgApplication"
          icon="resources/icon_research.xpm" />
  </extension>

  <extension id="cemrgapp" point="org.blueberry.core.runtime.products">
    <product name="Cemrg Application" application="kcl.cemrgapp.mainapp" />
  </extension>

  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.cemrgappcommontools"
          name="CemrgApp Common Tools"
          class="QmitkCemrgAppCommonTools"
          icon="resources/icon.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgJBPerspective"
      name="Cemrg Motion Quantification"
      class="QmitkCemrgJBPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgRRPerspective"
      name="Cemrg Anatomical Measurements"
      class="QmitkCemrgRRPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgHCPerspective"
      name="Cemrg Scar Quantification"
      class="QmitkCemrgHCPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgEasiPerspective"
      name="Cemrg Electrophysiology Simulations"
      class="QmitkCemrgEasiPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgPowertransPerspective"
      name="Cemrg Power Transmitter"
      class="QmitkCemrgPowertransPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="kcl.cemrgapp.CemrgWathcaPerspective"
      name="Cemrg Morphological Measurements"
      class="QmitkCemrgWathcaPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

</plugin>
